<ul>
  <% @notes.each do |note| %>
    <li>#{CGI.escapeHTML(note.content)}</li>
  <% end %>
</ul>

<form action="/create-note" method="POST">
  <input name="content" maxlength="140" autofocus>
  <input type="submit">
</form>

